{% extends 'userr/main.html' %}
{% load static %}
{%block content %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>bootstrap split screen</title>
<style>
 {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 70%;
 /* padding: 10px;*/
  height:530px; /* Should be removed. Only for demonstration */
}
.column1 {
  float: left;
  width: 30%;

  height:530px; /* Should be removed. Only for demonstration */
}


</style>
</head>
<body>



 <div class="column" style="background-color:#3d3d3d;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="{% static 'images/blood donation img 6 (7).png'%}">

</div>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;

  </div>
  <div class="column1" style="background-color:white">
    <marquee direction="up"><h3>#Anybody can give blood</h3><br><h3>#Bring a life back to power.Make blood donation your responsibilty</h3><br><h3>#Spare only 15 minutes and save one life</h3><br><h3>#Heroes come in all types and sizes</h3><br>
    <h3>#Donate blood for a reason,let the reason to be life</h3><br><br></marquee>

  </div>

</body>
</html>
{%endblock%}