{% load static %}
<!DOCTYPE html>
<html xmlns:width="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml" xmlns: xmlns:
      xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <title>Blood donation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h1><center><img src="{% static 'images/transparent blood donation.png'  %}" >
    &nbsp;&nbsp;<I>MAKE <font color="red" >BLOOD DONATION </font>YOUR RESPONSIBILITY</I></center></h1>
   {% include 'userr/navbar.html' %}
    {% block content %}

    {% endblock %}


</body>
</html>


 



 


</body>
</html>
