<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/register/">Register as Donor</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/search/">Search for Donor</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/update/">Update</a>
      </li>


       <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/about/">About Us</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/contact/">Contact Us</a>
      </li>

    </ul>
  </div>
</nav>