{% extends 'userr/main.html' %}
{% load static %}
{% block content %}
<body>
<div  style="background-color:lavender "><br>
<center><h1><u>Update Details After registration </u></h1><table>
<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" onclick="location.href='http://127.0.0.1:8000/updatedonate/'" value="UPDATE BLOOD DONATION DATE" >
<br><br>
    <input type="button" onclick="location.href='http://127.0.0.1:8000/updateloc/'" value="UPDATE LOCATION" >
<br><br>
      

</center>
    </table>
</div>
</body>

{% endblock %}